<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rectángulo</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

    <header class="encabezado">
        <h1>Calculadora básica con Flask</h1>

        <nav class="menu">
            <a href="/rectangulo">Rectángulo</a>
        </nav>
    </header>

    <h2>Área y perímetro del rectángulo</h2>

    <form method="POST">
        <label for="base">Base:</label>
        <input type="number" step="any" id="base" name="base" required>

        <label for="altura">Altura:</label>
        <input type="number" step="any" id="altura" name="altura" required>

        <button type="submit">Calcular</button>
    </form>

    {% if resultado is not none %}
        <p><strong>Área:</strong> {{ resultado }}</p>
        <p><strong>Perímetro:</strong> {{ resultado2 }}</p>
    {% endif %}

</body>
</html>