<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ALUMNOS</title>
</head>
<body>
    <h1>LISTA DE ALUMNOS</h1>
    <ul>
        <li>Giovanni</li>
        <li>Jennifer</li>
        <li>Santa</li>
        <li>geraldine</li>
        <li>Cristian</li>
    </ul>

    <a href="/">Volver a la página principal</a>
</body>
</html>
<head>
    <meta charset="UTF-8">
    <title>
        "Menu principal"
    </title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/estilos.css') }}">
</head>